:host {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
  max-width: 1200px;

  .column {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;

    &.img-column {
      max-width: 700px;
    }

    .image-wrapper {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    height: 85dvh;

    .column {
      flex: 1 0 30%;
      text-align: left;

      &.img-column {
        max-width: none;
      }
    }

    &.switch-image-side {
      flex-direction: row-reverse;
    }
  }
}
