@use "../../../breakpoints.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 1000px;

  .live-element {
    font-size: 16px;
    line-height: 52px;
    flex-grow: 1;
    text-align: center;

    > span {
      margin: 0 10px;
    }
  }

  .editor {
    background: var(--global-bg);
    border-radius: 5px;
    border: 1px solid var(--primary);
    width: 100%;

    .editor-headline {
      padding: 5px;
      color: var(--global-bg);
      background-color: var(--primary-hover);
    }

    .editor-main-content {
      padding: 5px;
      font-size: 16px;
      line-height: 16px;
      color: var(--global-text);
      border-collapse: collapse;

      .line-numbers,
      .editor-content {
        vertical-align: top;
        padding: 5px;
      }

      .line-numbers {
        color: var(--primary);
        border-right: 1px solid var(--primary);
        text-align: right;
        padding-right: 8px;
        width: 30px;
      }

      .editor-content {
        padding-left: 10px;

        .comment {
          color: #6a9956;
        }
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    flex-direction: row;
    justify-content: space-between;

    .live-element {
      font-size: 24px;
    }

    .editor {
      width: 500px;
    }
  }

  &.show-second-step .live-element .heart {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
  }

  &.show-last-step .live-element {
    .heart {
      animation: 1.5s infinite pulse;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
