@use "../../../breakpoints.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 1000px;

  .live-element {
    font-size: 16px;
    line-height: 52px;
    flex-grow: 1;
    text-align: center;
    background-color: var(--base-grey);
    border-radius: 5px;
    padding: 20px;
    width: 100%;

    .heart {
      margin: 0 10px;
      color: var(--secondary);
    }

    .loading-dots {
      height: 52px;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .dot {
        width: 10px;
        height: 10px;
        background-color: var(--contrast-grey);
        border-radius: 50%;
        animation: bounce 1s infinite;

        &:nth-child(1) {
          animation-delay: 0s;
        }

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }

        @keyframes bounce {
          0%,
          80%,
          100% {
            transform: scale(1);
          }
          40% {
            transform: scale(1.5);
          }
        }
      }
    }
  }

  .editor {
    background: var(--global-bg);
    border-radius: 5px;
    border: 1px solid var(--secondary);
    width: 100%;

    .editor-headline {
      padding: 5px;
      color: var(--global-bg);
      background-color: var(--secondary);
    }

    .editor-main-content {
      padding: 5px;
      font-size: 16px;
      line-height: 16px;
      color: var(--global-text);
      border-collapse: collapse;

      .line-numbers,
      .editor-content {
        vertical-align: top;
        padding: 5px;
      }

      .line-numbers {
        color: var(--secondary);
        border-right: 1px solid var(--secondary);
        text-align: right;
        padding-right: 8px;
        width: 30px;
      }

      .editor-content {
        padding-left: 10px;

        .comment {
          color: #6a9956;
        }
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    flex-direction: row;
    justify-content: space-between;

    .live-element {
      font-size: 24px;
      width: auto;
    }

    .editor {
      width: 500px;
    }
  }

  &.show-second-step .live-element .heart {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
  }

  &.show-last-step .live-element {
    .heart {
      animation: 1.5s infinite pulse;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
