<p class="live-element">I <span class="heart">❤️</span> Coding</p>

<div class="editor">
  <div class="editor-headline">
    <i>// frontend.css</i>
  </div>
  <table class="editor-main-content">
    <tr>
      <th class="line-numbers">1</th>
      <td class="editor-content">
        <div>
          <span
            appTypewriterEffect
            text="// Coding is awesome 😊"
            class="comment"
          ></span>
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">2</th>
      <td class="editor-content">
        <div>
          @if(showFirstElements()) {
          <span
            #secondLine
            appTypewriterEffect
            [text]="secondLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">3</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span [innerText]="'&nbsp;'"></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">4</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #fourthLine
            appTypewriterEffect
            [text]="fourthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">5</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #fifthLine
            appTypewriterEffect
            [text]="fifthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">6</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #sixthLine
            appTypewriterEffect
            [text]="sixthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">7</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #seventhLine
            appTypewriterEffect
            [text]="seventhLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">8</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #eighthLine
            appTypewriterEffect
            [text]="eighthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">9</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span #ninthLine appTypewriterEffect [text]="ninthLineTypeable"></span
          >}
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">10</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #tenthLine
            appTypewriterEffect
            [text]="tenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">11</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span [innerText]="'&nbsp;'"></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">12</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span
            #twelfthLine
            appTypewriterEffect
            [text]="twelfthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">13</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span
            #thirteenthLine
            appTypewriterEffect
            [text]="thirteenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">14</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span
            #fourteenthLine
            appTypewriterEffect
            [text]="fourteenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">15</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span
            #fifteenthLine
            appTypewriterEffect
            [text]="fifteenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">16</th>
      <td class="editor-content">
        <div>
          @if(showLastElements()) {
          <span
            #sixteenthLine
            appTypewriterEffect
            [text]="sixteenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
    <tr>
      <th class="line-numbers">17</th>
      <td class="editor-content">
        <div>
          @if(showSecondElements()) {
          <span
            #seventeenthLine
            appTypewriterEffect
            [text]="seventeenthLineTypeable"
          ></span>
          }
        </div>
      </td>
    </tr>
  </table>
</div>
