<app-theme-toggle />
<app-scroll-arrows (scrollUp)="scrollUp()" (scrollDown)="scrollDown()" />
<h1
  appTypewriterEffect
  [reserveSpace]="true"
  text="Hey, I am Julian – Frontend Webdeveloper."
></h1>
<app-two-column-layout
  class="first-section"
  imageSrc="assets/images/julian_front_small.jpeg"
  imageAlt="Julian from front"
>
  <div class="two-column-text-wrapper">
    <h2>Crafting innovative Web Solutions for You</h2>
    <p>
      As a passionate web developer, I specialize in creating dynamic and
      user-friendly web application tailored to your needs. Explore my portfolio
      to see how I can bring your vision to life.
    </p>
    <div class="call-to-action">
      <app-button text="My Work"></app-button>
      <app-button
        text="Contact"
        [variant]="'secondary'"
        (click)="scrollDown()"
      ></app-button>
    </div>
  </div>
</app-two-column-layout>
<app-word-flip
  [firstString]="'I build'"
  [changingWords]="[
    'Frontends',
    'Webcomponents',
    'Web Apps',
    'Solutions',
    'Ideas'
  ]"
  [lastString]="'with passion'"
></app-word-flip>
<app-two-column-layout
  class="first-section align-top"
  [imageSrc]="
    dataService.theme() === 'light'
      ? 'assets/images/logo-julian-scheiner-web-development-light.svg'
      : 'assets/images/logo-julian-scheiner-web-development-dark.svg'
  "
  imageAlt="Julian from side"
  [imageRight]="false"
  [loading]="'lazy'"
>
  <div class="two-column-text-wrapper">
    <h2>Clean Code, Performance & Great UX – My Development Principles</h2>
    <p>
      I believe that great web applications are built on clean, maintainable
      code, high performance, and an excellent user experience. My goal is to
      create scalable and future-proof solutions that not only work but also
      feel great to use.
    </p>
    <div class="icon-boxes">
      <app-icon-box-popover icon="🧹" label="Clean Code">
        <p>
          I write clean, maintainable code that is easy to understand and
          extend.
        </p>
      </app-icon-box-popover>
      <app-icon-box-popover icon="🚀" label="Performance">
        <p>
          I optimize my applications for speed and performance to provide the
          best user experience.
        </p>
      </app-icon-box-popover>
      <app-icon-box-popover icon="🎨" label="Great UX">
        <p>
          I focus on creating intuitive and user-friendly interfaces that make
          your application a joy to use.
        </p>
      </app-icon-box-popover>
    </div>
  </div>
</app-two-column-layout>
@if(!triggerCodeExample()) {
<app-magic-code-snippet />
}
<div class="tech-stack">
  <h2>Tech Stack</h2>
  <app-skill-bubble />
</div>
<app-footer />
