@use "../../../breakpoints.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 50px;

  > h1 {
    text-align: center;
  }

  .two-column-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .call-to-action {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .icon-boxes {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
  }

  @media (min-width: $breakpoint-large) {
    gap: 20px;

    .two-column-text-wrapper {
      .call-to-action {
        justify-content: flex-start;
      }
    }
  }
}
