// Colors
:root {
  --global-bg: #ffffff;
  --global-text: #000000;
  --primary: #b99f50;
  --secondary: #1a568e;
  --tertiary: #8d197d;
  --quaternary: #8f3d1a;
  --quinary: #901a3b;

  --primary-hover: #8e7119;
  --secondary-hover: #1e74b3;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0px 0 20px rgba(0, 0, 0, 0.3);
  --box-shadow-image-hover: 0px 0 20px 15px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --global-bg: #000000;
  --global-text: #ffffff;
  --primary: #8e7119;
  --secondary: #1a568e;
  --tertiary: #8d197d;

  --primary-hover: #b99f50;
  --secondary-hover: #1e74b3;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  --box-shadow-image-hover: 0px 0 20px 15px rgba(255, 255, 255, 1);
}

/* Reset styles for typography elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
strong,
img,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--global-text);
}

/* Set border-box as default */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default font-family */
body {
  font-family: "Karla", sans-serif;
  background-color: var(--global-bg);
}

/* Set font-family for headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
